<script>
(function($) {
    'use strict';
    $.fn.andSelf = function() {
      return this.addBack.apply(this, arguments);
    }
    $(function() {

      <!-- INÍCIO DOS GRAFICOS DAS MÁQUINAS -->

      {% for maquina in maquinas %}

      <!-- MÁQUINA 1 ********************************************************************************************-->

      {% if maquina.id == 1 %}
      if ($("#{{maquina.id}}").length) {
        var areaData = {
          labels: ["Paypal", "Stripe","Cash"],
          datasets: [{
              data: [55, 25, 10],
              backgroundColor: [
                "#111111","#00d25b","#ffab00"
              ]
            }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
            arc: {
                borderWidth: 0
            }
          },      
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          }
        }
        var transactionhistoryChartPlugins = {
          beforeDraw: function(chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
        
            ctx.restore();
            var fontSize = 1;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "6", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2.4;
        
            ctx.fillText(text, textX, textY);
  
            ctx.restore();
            var fontSize = 0.7;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "Paradas", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 1.7;
        
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }
        var transactionhistoryChartCanvas = $("#{{maquina.id}}").get(0).getContext("2d");
        var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
        });
      }

      <!-- MÁQUINA 2 ********************************************************************************************-->

      {% elif maquina.id == 3 %}
      if ($("#{{maquina.id}}").length) {
        var areaData = {
          labels: ["Paypal", "Stripe","Cash"],
          datasets: [{
              data: [55, 25, 20],
              backgroundColor: [
                "#111111","#00d25b","#ffab00"
              ]
            }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
            arc: {
                borderWidth: 0
            }
          },      
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          }
        }
        var transactionhistoryChartPlugins = {
          beforeDraw: function(chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
        
            ctx.restore();
            var fontSize = 1;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "6", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2.4;
        
            ctx.fillText(text, textX, textY);
  
            ctx.restore();
            var fontSize = 0.7;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "Paradas", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 1.7;
        
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }
        var transactionhistoryChartCanvas = $("#{{maquina.id}}").get(0).getContext("2d");
        var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
        });
      }

      <!-- MÁQUINA 3 ********************************************************************************************-->

      {% elif maquina.id == 4 %}
      if ($("#{{maquina.id}}").length) {
        var areaData = {
          labels: ["Paypal", "Stripe","Cash"],
          datasets: [{
              data: [55, 25, 30],
              backgroundColor: [
                "#111111","#00d25b","#ffab00"
              ]
            }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
            arc: {
                borderWidth: 0
            }
          },      
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          }
        }
        var transactionhistoryChartPlugins = {
          beforeDraw: function(chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
        
            ctx.restore();
            var fontSize = 1;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "6", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2.4;
        
            ctx.fillText(text, textX, textY);
  
            ctx.restore();
            var fontSize = 0.7;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "Paradas", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 1.7;
        
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }
        var transactionhistoryChartCanvas = $("#{{maquina.id}}").get(0).getContext("2d");
        var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
        });
      }
      <!-- MÁQUINA 4 ********************************************************************************************-->

      {% elif maquina.id == 5 %}
      if ($("#{{maquina.id}}").length) {
        var areaData = {
          labels: ["Paypal", "Stripe","Cash"],
          datasets: [{
              data: [55, 25, 40],
              backgroundColor: [
                "#111111","#00d25b","#ffab00"
              ]
            }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
            arc: {
                borderWidth: 0
            }
          },      
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          }
        }
        var transactionhistoryChartPlugins = {
          beforeDraw: function(chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
        
            ctx.restore();
            var fontSize = 1;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "6", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2.4;
        
            ctx.fillText(text, textX, textY);
  
            ctx.restore();
            var fontSize = 0.7;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "Paradas", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 1.7;
        
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }
        var transactionhistoryChartCanvas = $("#{{maquina.id}}").get(0).getContext("2d");
        var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
        });
      }
      {% endif %}
      {% endfor %}
      

      });
  })(jQuery);

</script>