<script>
(function($) {
    'use strict';
    $.fn.andSelf = function() {
      return this.addBack.apply(this, arguments);
    }
    $(function() {

      <!-- INÍCIO DOS GRAFICOS DAS MÁQUINAS -->

      {% for maquina in maquinas %}

      <!-- MÁQUINA 1 ********************************************************************************************-->

      if ($("#{{maquina.id}}").length) {
        var areaData = {
          labels: [
          {% for parada in paradas_tipos %}
            "{{parada}}",
          {% endfor %}
          ],
          datasets: [{
            {% if maquina.id == 1 %}
              data: [{{parada_motivo1_maquina1}}, {{parada_motivo2_maquina1}}, {{parada_motivo3_maquina1}}, {{parada_motivo4_maquina1}}, {{parada_motivo5_maquina1}}],
            {% elif maquina.id == 2 %}
              data: [{{parada_motivo1_maquina2}}, {{parada_motivo2_maquina2}}, {{parada_motivo3_maquina2}}, {{parada_motivo4_maquina2}}, {{parada_motivo5_maquina2}}],
            {% elif maquina.id == 3 %}
              data: [{{parada_motivo1_maquina3}}, {{parada_motivo2_maquina3}}, {{parada_motivo3_maquina3}}, {{parada_motivo4_maquina3}}, {{parada_motivo5_maquina3}}],  
            {% elif maquina.id == 4 %}
              data: [{{parada_motivo1_maquina4}}, {{parada_motivo2_maquina4}}, {{parada_motivo3_maquina4}}, {{parada_motivo4_maquina4}}, {{parada_motivo5_maquina4}}], 
            {% elif maquina.id == 5 %}
              data: [{{parada_motivo1_maquina5}}, {{parada_motivo2_maquina5}}, {{parada_motivo3_maquina5}}, {{parada_motivo4_maquina5}}, {{parada_motivo5_maquina5}}],  
            {% elif maquina.id == 6 %}
              data: [{{parada_motivo1_maquina6}}, {{parada_motivo2_maquina6}}, {{parada_motivo3_maquina6}}, {{parada_motivo4_maquina6}}, {{parada_motivo5_maquina6}}],  
            {% endif %}  
              backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
              'rgba(255, 206, 86, 0.5)',
              'rgba(75, 192, 192, 0.5)',
              'rgba(153, 102, 255, 0.5)',
              'rgba(255, 159, 64, 0.5)'
            ],
          }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          segmentShowStroke: false,
          cutoutPercentage: 70,
          elements: {
            arc: {
                borderWidth: 0
            }
          },      
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          }
        }
        var transactionhistoryChartPlugins = {
          beforeDraw: function(chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
        
            ctx.restore();
            var fontSize = 1;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
            {% if maquina.id == 1 %}
            var text = "{{paradas_maquina1}}",
            {% elif maquina.id == 2 %}
            var text = "{{paradas_maquina2}}",
            {% elif maquina.id == 3 %}
            var text = "{{paradas_maquina2}}",
            {% elif maquina.id == 4 %}
            var text = "{{paradas_maquina3}}",
            {% elif maquina.id == 5 %}
            var text = "{{paradas_maquina4}}",
            {% elif maquina.id == 6 %}
            var text = "{{paradas_maquina5}}",
            {% endif %} 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2.4;
        
            ctx.fillText(text, textX, textY);
  
            ctx.restore();
            var fontSize = 0.7;
            ctx.font = fontSize + "rem sans-serif";
            ctx.textAlign = 'left';
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#ffffff";
        
            var text = "Paradas", 
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 1.7;
        
            ctx.fillText(text, textX, textY);
            ctx.save();
          }
        }
        var transactionhistoryChartCanvas = $("#{{maquina.id}}").get(0).getContext("2d");
        var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
          type: 'doughnut',
          data: areaData,
          options: areaOptions,
          plugins: transactionhistoryChartPlugins
        });
      }

      {% endfor %}
      

      });
  })(jQuery);

</script>