{% extends '_base.html' %}
{% load static %}
{% block content %}



    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'partials/_menu.html' %}
        <!-- partial -->
        <!-- INÍCIO BARRA SUPERIOR -->

        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <h6 class="text-muted font-weight-normal">Atualizado em {{ultima_atualizacao}}</h6>
                </form>
                </li>
            </ul>
            
            <ul class="navbar-nav navbar-nav-right">
                <a  class="btn btn-success btn-icon-text d-none d-lg-flex" onclick="Refresh()">Atualizar</a>
                
                <a style="width: 120px; margin-left: 20px;"  class="btn btn-success btn-icon-text d-none d-lg-flex" href={% url 'geral' %}>Limpar filtros</a>
                
                <li class="nav-item dropdown d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">Filtrar dados</a>
                <div style='width: 300px;' class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                    <h6 class="p-3 mb-0">Filtros</h6>
                    <form action={% url 'geral' %} method='POST'>
                    {% csrf_token %}
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item preview-item">
                        <div style='width: 100%;' class="preview-item-content">
                        <p>Início: </p>
                        <input name='data_antiga_geral' style='height: 35px;' id="date" type="date" required><input name='hora_antiga' style='margin-left: 20px; height: 35px;' id="date" type="time" required><br><br>
                        <p>Final: </p>
                        <input name='data_nova_geral' style='height: 35px;' id="date" type="date" required><input name='hora_nova' style='margin-left: 20px; height: 35px;' id="date" type="time" required>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div style='height: 62px;' >
                        <div style='width: 100%;' class="preview-item-content">
                        <button style='float: right; margin-right: 10px; margin-top: 15px;' class="nav-link btn btn-success create-new-button" href="#">Aplicar</button>
                        </div>
                    </div>
                    </form>
                </div>
                </li>
                
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
            </button>
            </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Gráficos gerais</h3>
            </div>
          
            <div class="row">
              {% for maquina in maquinas %}
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{maquina.nome_maquina}}</h3>
                          {% if maquina.status_maquina == True %}
                          <p class="text-success ml-2 mb-0 font-weight-medium">ON</p>
                          {% elif maquina.status_maquina == False %}
                          <p class="text-danger ml-2 mb-0 font-weight-medium">OFF</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}  
            </div>     
            <div class="row">      
              </div>
              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <h4 class="card-title">Produção por máquina</h4>
                      <canvas id="graficoProducao" style="height: 146px; display: block; width: 292px;" width="584" height="292" class="chartjs-render-monitor"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <h4 class="card-title">Paradas por máquina</h4>
                      <canvas id="graficoParadas" style="height: 146px; display: block; width: 292px;" width="584" height="292" class="chartjs-render-monitor"></canvas>
                    </div>
                  </div>
                </div>
                </div>
            </div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- BAIXA RELATÓRIO DA PÁGINA -->
    <form action={% url 'gera_pdf_geral' %} method='GET'>
      {% csrf_token %}
    <div class='d-none'>
    <input name='data_antiga_relatorio' value={{data_antiga_relatorio}} style='height: 35px;' id="date" type="date" required><input name='hora_antiga' value={{hora_antiga_relatorio}} style='margin-left: 20px; height: 35px;' id="date" type="time" required><br><br>
    <input name='data_nova_relatorio' value={{data_nova_relatorio}} style='height: 35px;' id="date" type="date" required><input name='hora_nova' value={{hora_nova_relatorio}} style='margin-left: 20px; height: 35px;' id="date" type="time" required>
    {% for maquina in maquinas %}
    <input name='filtro_{{maquina.id}}' value='{{maquina.id}}' style='height: 35px;'  required>
    {% endfor %}
    </div>
    <button style=' margin-left: 90%; margin-bottom: 50px;' class="btn btn-success btn-rounded btn-icon d-none d-lg-flex fixed-bottom">
      <i style=' margin: auto;' class="mdi mdi-download"></i>
    </button>
   <form>
    

{% endblock %}
