{% extends '_base.html' %}
{% load static %}
{% block content %}


    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'partials/_menu.html' %}
        <!-- partial -->
        <!-- INÍCIO BARRA SUPERIOR -->

        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input type="text" class="form-control" placeholder="Pesquisar máquinas">
                </form>
                </li>
            </ul>
            
            <ul class="navbar-nav navbar-nav-right">
                <a type="button" class="btn btn-outline-warning btn-icon-text" onclick="Refresh()">
                Atualizar</a>
                
                
                <li class="nav-item dropdown d-none d-lg-block">
                  <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">Filtrar dados</a>
                  <div style='width: 300px;' class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                      <h6 class="p-3 mb-0">Filtros</h6>
                      <form action={% url 'producao' %} method='POST'>
                      {% csrf_token %}
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item preview-item">
                          <div style='width: 100%;' class="preview-item-content">
                          <p>Início: </p>
                          <input name='data_antiga_producao' style='height: 35px;' id="date" type="date" required><input name='hora_antiga' style='margin-left: 20px; height: 35px;' id="date" type="time" required><br><br>
                          <p>Final: </p>
                          <input name='data_nova_producao' style='height: 35px;' id="date" type="date" required><input name='hora_nova' style='margin-left: 20px; height: 35px;' id="date" type="time" required>
                          <p style='margin-top: 20px;' >Máquinas: </p>
                          {% if maquinas %}
                          {% for maquina in maquinas %}
                          <div class="form-check form-check-primary">
                            <label class="form-check-label">
                              <input name='filtro_{{maquina.id}}' type="checkbox" class="form-check-input" checked="" value='{{maquina.id}}'> {{ maquina.nome_maquina }} <i class="input-helper"></i></label>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                      
                      <div class="dropdown-divider"></div>
                      <div style='height: 62px;' >
                          <div style='width: 100%;' class="preview-item-content">
                          <button style='float: right; margin-right: 10px; margin-top: 15px;' class="nav-link btn btn-success create-new-button" href="#">Aplicar</button>
                          </div>
                      </div>
                      </form>
                  </div>
                  </li>
                  <li class="nav-item nav-settings d-none d-lg-block">
                  <a class="nav-link" href="#">
                      <i class="mdi mdi-settings"></i>
                  </a>
                  </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
            </button>
            </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Relatório de produção</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Charts</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Chart-js</li>
                </ol>
                </div>
            </nav>
            
            <div class="row">
              
            </div>
            <div class="row">
                {% if maquinas %}
                {% for maquina in maquinas %}
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">{{maquina.nome_maquina}}</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">ON</p>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">{{ultima_atualizacao}}</h6>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}         
              </div>
              <div class="row ">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Tabela de Produção</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                <div class="form-check form-check-muted m-0">
                                  <label class="form-check-label">
                                  <i class="input-helper"></i></label>
                                </div>
                              </th>
                              <th style='text-align: center;'> Máquina </th>
                              <th style='text-align: center;'> Código da máquina </th>
                              <th style='text-align: center;'> Produção </th>
                              <th style='text-align: center;'> Setor </th>
                              <th style='text-align: center;'> Data início </th>
                              <th style='text-align: center;'> Data final </th>
                              <th style='text-align: center;'> Status da máquina </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if maquinas_filtradas %}
                            {% for maquina in maquinas_filtradas %}
                            <tr>
                              <td>
                                <div class="form-check form-check-muted m-0">
                                  <i class="input-helper mdi mdi-open-in-new"></i></label>
                                </div>
                              </td>
                              <td>
                                <span class="mdi mdi-menu"></span>
                                <span style='text-align: center;' class="pl-2">{{maquina.nome_maquina}}</span>
                              </td>
                              <td style='text-align: center;'> {{maquina.id}} </td>
                              {% if maquina.id == 1 %}
                              <td style='text-align: center;'> {{producao_maquina1}} </td>
                              {% elif maquina.id == 3 %}
                              <td style='text-align: center;'> {{producao_maquina3}} </td>
                              {% elif maquina.id == 4 %}
                              <td style='text-align: center;'> {{producao_maquina4}} </td>
                              {% elif maquina.id == 5 %}
                              <td style='text-align: center;'> {{producao_maquina5}} </td>
                              {% endif %}
                              <td style='text-align: center;'> Montagem </td>
                              <td style='text-align: center;'> {{data_antiga}} </td>
                              <td style='text-align: center;'> {{data_nova}} </td>
                              <td>
                                {% if maquina.status_maquina == True %}
                                <div style='width: 100%;' class="badge badge-outline-success">Operando</div>
                                {% elif maquina.status_maquina == False %}
                                <div style='width: 100%;' class="badge badge-outline-danger"> Parada </div>
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>



{% endblock %}