{% extends '_base.html' %}
{% load static %}
{% block content %}


    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'partials/_menu.html' %}
        <!-- partial -->
        <!-- INÍCIO BARRA SUPERIOR -->

        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input type="text" class="form-control" placeholder="Pesquisar máquinas">
                </form>
                </li>
            </ul>
            
            <ul class="navbar-nav navbar-nav-right">
                <a type="button" class="btn btn-outline-warning btn-icon-text" onclick="Refresh()">Atualizar</a>
            
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
            </button>
            </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Suporte</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Charts</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Chart-js</li>
                </ol>
                </div>
            </nav>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DSP Assistência Técnica</h5>
                    <p class="card-text">Para problemas técnicos e físicos contate o número abaixo :</p>
                    <a href="#" class="btn btn-primary">(47) 3376-1629</a><br><br>
                    <p class="card-text">Ou também no e-mail abaixo:</p>
                    <a href="#" class="btn btn-primary">dsp@dsp.com.br</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PSK Soluções em TI</h5>
                    <p class="card-text">Para problemas envolvendo o software, sugestões de melhorias, solicitações de atualizações, conte o número abaixo:</p>
                    <a href="#" class="btn btn-primary">(13) 996802821</a><br><br>
                    <p class="card-text">Ou também no e-mail abaixo:</p>
                    <a href="#" class="btn btn-primary">psk.solucoesemti@gmail.com</a>
                </div>
                </div>
            </div>
            </div>

            <br><br><br><br><br><br><br><br><br>
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>



{% endblock %}